button, input, textarea, select {
  outline: none;
  display: block;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
  border-radius: 0;
  color: inherit;
  font-weight: inherit;
  text-rendering: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

button {
  cursor: pointer;
}

img, picture {
  display: block;
  user-select: none;
  pointer-events: none;
}

ul, nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

body.mobile {
  *, *:before, *:after {
    -webkit-tap-highlight-color: initial;
  }
}
