@font-face {
  font-family: 'TTTravels';
  src: url('src/assets/fonts/TTTravels-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TTTravels';
  src: url('src/assets/fonts/TTTravels-DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TTTravels';
  src: url('src/assets/fonts/TTTravels-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TTTravels';
  src: url('src/assets/fonts/TTTravels-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TTTravels';
  src: url('src/assets/fonts/TTTravels-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
